* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #eee;
  background-image: url("background.png");
}

header {
  background-color: #2f3542;
  padding: 5px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
  font-size: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 500;
}

form.publish-message {
  position: relative;
  width: 450px;
  margin: 30px auto 20px auto;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.publish-message input {
  font-weight: 500;
}

form.publish-message input,
form.publish-message textarea {
  width: 100%;
  border: none;
  padding: 4px;
  outline: none;
  font-size: 1.2em;
  font-family: inherit;
  resize: none;
}

form.publish-message button {
  position: absolute;
  right: 20px;
  bottom: -20px;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.3);
}

.messageContainer {
  margin: 0px 5%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: start;
}

.message {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 300px;
  margin: 15px;
  float: left;
}

.message h1 {
  font-size: 1.2em;
  font-weight: 500;
  margin-bottom: 6px;
}

.message p {
  font-size: 1.2em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}